.navbar{
    background-color: #212531;
    border: none;
    border-radius: 0px;
}

#bs-example-navbar-collapse-1 > ul > li > a {
    color: white;
}

body > nav > div > div.navbar-header > a.navbar-brand {
    color: white;
}


.about {
    background-color: #FF5722;
    color: white;
}
.flex-container {
    display: flex;
    height: 100vh;
    color: white;
    margin-top: -20px;
}

.left-half {
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    flex: 1;
    padding: 1rem;
}

.right-half {
  background: url('/img/leanonme_large.jpg') center center;
  flex: 1;
  padding: 1rem;
}
.portfolio-item {
    margin: 10px 0px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer {
    background-color: #212531;
    color: white;
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
 }
    .btn-outline:hover,
    .btn-outline:focus,
    .btn-outline:active,
    .btn-outline.active {
        color: #FF5722;
        background: white;
        border: solid 2px white;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: white;
}
    .btn:focus,
    .btn:active,
    .btn.active {
        outline: none;
}

hr.short
{
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 80vh;
    height: auto;
    border-radius: 3px;
    margin: 25px auto 30px;    
}

.left-half {
    display: flex;
    font-size: 1.1em;
    font-weight: bolder;
    align-items: center;
}

.about-text {
    padding: 5%;
    font-size: 24px;
}